/* Cài đặt font cho toàn bộ trang */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

/* Thêm đường dẫn liên kết đến font 'Fira Code' từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background: url('Background1.jpg') center/cover fixed #f2f2f2;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

nav {
    background-color: #444;
    text-align: center;
    clear: both;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ddd;
}

#title-container {
    text-align: center;
    padding: 20px;
}

.subpage-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

section {
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* 70% độ trong suốt */
    border-radius: 10px;
    box-shadow: #999 5px 5px 5px;
    max-width: 900px;
    text-align: justify; /* Căn lề 2 bên */
    line-height: 1.5; /* Khoảng cách giữa các dòng */
    margin-bottom: 20px; /* Thêm khoảng cách giữa các đoạn văn bản */
    box-shadow: #999 5px 5px 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-shadow: #CCC 2px 2px 2px;
}
